---
title: Lalalaine's Blog
pageable: true
per_page: 5
---
.row
  .twelve.columns
    - page_articles.each_with_index do |article, i|
      .panel.post
        %h3
          %span.post_date= article.date.strftime('%b %e')
          = link_to article.title, article
        .post_summary
          %p= "#{article.summary} #{link_to "Read more >> ", article}"

.row
  .six.columns
    - if prev_page
      = link_to 'Previous page', prev_page

  .six.columns
    - if paginate
      - if next_page
        =link_to 'Next page', next_page
